@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

#body-nav {
	padding: 2%;
	background-color: teal;

	
}
body {
	margin: 0;
	background: lightgray;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

#logo {
	float: left;
	width: 100px;
	height: 100px;
}

nav a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	margin: 4% ;
	font-size: 375%;
  }
