.card-container {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.urunler {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
}